<div class="container">
    <div class="row" style="height : 100vh; justify-content: center;align-items: center;">
        <div class="col" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
           <div style="text-shadow: 2px 2px 8px #FF0000; font-weight:bolder;font-size:50px; ">
               ERROR 404  
           </div>
           <div style="text-shadow: 0 0 3px #FF0000;font-weight:bolder;font-size:60px;">
             Page Not Found
           </div>
        </div>
    </div>
</div>
